#demo {
    background-color: lightblue;
}

.test {
    background-color: lightgreen;
    font-size: 30px;
}

p {
    background-color: red;
    font-size: 20px;
}

p {
    background-color: yellow;
    font-size: 20px;
}