.box {
    background-color: aqua;
    width: 500px;
    height: 200px;
    padding: 50px;
    border: 10px solid black;
    margin: 10px;
}

.box2 {
    background-color: aqua;
    width: 500px;
    height: 200px;
    padding: 50px;
    border: 10px dotted black;
    margin: 10px;
}

.box3 {
    background-color: aqua;
    width: 500px;
    height: 200px;
    padding: 50px;
    border: 10px dashed black;
    margin: 10px;
}